<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include ('partials/head.html') %>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <p>

    
    </p>
    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
<!--Facebook-->
                <button type="button" class="btn btn-fb"><i class="fab fa-facebook-f pr-1"></i> Facebook</button>
            </div>
        </div>
    </div>
</div>
<p>


</p>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
<!--Instagram-->
            <button type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button>
        </div>
    </div>
</div>
<p>

    
</p>
<div class="container h-100">
    <div class="d-flex justify-content-center h-100">
        <div class="user_card">
            <div class="d-flex justify-content-center">
<!--WhatsApp-->
            <button type="button" class="btn btn-whatsapp"><i class="fab fa-whatsapp pr-1"></i> Whatsapp</button>
        </div>
    </div>
</div>
</body>
</html>