<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include ('partials/head.html') %>
</head>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        
        <p>

            Mision

        </p>
    <p>
        Somos una empresa cuya misión es ofrecer productos de repostería de la más alta calidad con un excelente sabor y aun precio accesible.
        Establecer un liderazgo con la colaboración y creatividad de nuestro talento  humano, utilizando las mejores materias primas del mercado para satisfacer a nuestros clientes con un servicio amable y oportuno.
        Garantizamos confiabilidad de los productos que procesamos y distribuimos, apoyados con una continua asesoría que asegura una mayor productividad y óptima elaboración de los mismos.
    </p>
</div>
<div class="container">
        <p>

        Vision

        </p>
    <p>

        Ser una empresa líder en el negocio de la repostería reconocida en el departamento y sus alrededores como la mejor alternativa del mercado. Destacarnos por la calidad y sabor de nuestros productos, atención y servicio al cliente.  
        Utilizando los más altos estándares de calidad, innovando continuamente los sabores y tecnología de vanguardia en nuestros procesos productivos.
        

    </p>
</div>
</body>
</html>